<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-8b9XMVnINN5sfQptyNNd0rbQlmULmn8</string>
	<key>GCM_SENDER_ID</key>
	<string>938145302049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipeBook</string>
	<key>PROJECT_ID</key>
	<string>cook-book-af0b4</string>
	<key>STORAGE_BUCKET</key>
	<string>cook-book-af0b4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938145302049:ios:9f14f04f791e21d4d14560</string>
</dict>
</plist>